.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.footer-section{
    text-align: center;
}

.social{
  display: flex;
  justify-content: center;
}

.social ul{
  display: flex;
  list-style: none;
  padding: 0;
}

#endereco{
  margin-top: 0;
}

.contact {
  display: flex;
  gap: 20px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.footer img { 
  height: 90px;
}

