.header {
  display: flex;
  width: 100%;             
  justify-content: space-between;   
  background-color: #d6e9ff;      
}

.header img {
    height: 90px; 
    margin-left: 3rem;
}

.header nav{
    display: flex;
    padding-right: 3.5rem;
  }


.divNav{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.divNav button {
    height: 2.5rem;
    width: auto;
    font-size: 1rem;  
}

@media (max-width: 768px) {
  .btnText {
    display: none !important;
  }

  .header .divNav{
    padding-right: 0rem;
    gap: 0.5rem;
  }

  .divNav button {
    height: 1.8rem;
    width: auto;
    font-size: 0.7rem;  
  }

  .header img {
    margin-left: 0rem;
    height: 70px;
  }

}